<div class="navbar navbar-expand-lg navbar-dark bg-white sticky-top py-3 shadow-sm" aria-label="Eighth navbar example">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand fs-1 fw-bolder primary" [routerLink]="['/home']" routerLinkActive="active">iCare</a>
    <button class="navbar-toggler collapsed border-0 " type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
    </button>
    <div class="navbar-collapse collapse scale-in-ver-top" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light fs-4" aria-current="page" [routerLink]="['/home']"
            routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light fs-4" [routerLink]="['/about']" routerLinkActive="active">About</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/auth/login']" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/auth/signup']" routerLinkActive="active">Signup</a>
        </li> -->
      </ul>
    </div>
  </div>
</div>