.header-bg{
  background-color: #5DADE2;
}


.nav-link,a,li {
  color: #145683!important;
  font-size: 17px;
  text-decoration: none !important;
  &:hover {
    color: #5DADE2!important;
  }
}

.navbar-nav .nav-link.active {
  color:#5DADE2!important;
}

.navbar-toggler:focus {
  box-shadow: unset !important;
}

