<div class="container">
  <div class="row text-center mb-5 mt-70">
    <h5 class="primary">What makes iCARE different?</h5>
    <h1 class="primary fw-bolder">We believe everyone deserves easy, <br> affordable primary care</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="banner">
    <div class="row p-5">
      <div class="mt-70 mb-70">
        <h1 class="fs-60 fw-bolder text-light">We believe in a <br> long-term <br> relationship with <br> your doctor
        </h1>
        <p class="text-white">When you have a doctor who really understands and keeps up with <br> your health, they
          see the big picture helping you live a longer, <br> happier life.</p>
        <!-- <button type="button" class="btn btn-primary btn-lg mt-3  rounded-5 fs-6">Make An Appointment</button> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-5 col-md-12 col-sm-12 d-flex align-items-center">
      <div>
        <h2 class="fw-bolder primary">We believe real doctors have the best answers</h2>
        <p>We believe real doctors have the best answers
          HealthTap has the country's largest network of volunteer doctors across 140+ specialties to create a database
          of
          millions of trustworthy doctor answers. No more wading through confusing articles on the internet.</p>
      </div>
    </div>
    <div class=" col-lg-7 col-md-12 col-sm-12">
      <img src="../../../assets/images/pexels-thirdman-5327653.jpg" class="img-fluid imageRadius" alt="">
    </div>
  </div>
</div>

<div class="container">
  <div class="row new mt-5">
    <div class=" col-lg-7 col-md-12 col-sm-12 hoverZoom">
      <img src="../../../assets/images/pexels-doctor-patient-3845983.jpg" class="img-fluid imageRadius" alt="">
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12 d-flex align-items-center">
      <div>
        <h2 class="fw-bolder primary mt-3">We believe in high quality care.</h2>
        <p>Each and every one of our HealthTap Medical Group doctors are US-licensed, board certified, and trained
          through our comprehensive online care program. Their experience is matched by their enthusiasm for delivering
          excellent care in the newest medium in the industry. This means the doctor you choose is with you every step
          of the way.</p>
      </div>
    </div>
  </div>
</div>
