<div class="container">
  <div class="row text-center mb-5 mt-70">
    <h5 class="primary">What makes HealthTap different?</h5>
    <h1 class="primary fw-bolder">We believe everyone deserves easy, <br> affordable primary care</h1>
  </div>
</div>
<div class="banner mb-80">
  <div class="bannerText">
    <div class="container">
      <div class="row">
        <div class="mt-80 mb-80">
          <h1 class="fs-80 fw-bolder text-light">We believe in a <br> long-term <br> relationship with <br> your doctor
          </h1>
          <p class="text-white">When you have a doctor who really understands and keeps up with <br> your health, they
            see the big picture helping you live a longer, <br> happier life.</p>
          <button type="button" class="btn btn-primary btn-lg mt-3  rounded-5 fs-6">Make An Appointment</button>
        </div>
      </div>
    </div>

  </div>
</div>
