<footer class="container-fluid mt-5 footerBackground p-5">
  <div class="row">
    <div class="col-lg-5">
      <h5 class="fs-6 fw-bold primary">ABOUT</h5>
      <p class="opacity-75 footer-text">The objective of <strong class="text-success">iCARE</strong> is to
        We care for every part of your life (and your family's).</p>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <h5 class="fs-6 fw-bold primary">QUICK LINKS</h5>
      <div class="">
        <ul class="pages p-0">
          <li><a [routerLink]="['#']">About US</a></li>
          <li><a [routerLink]="['#']">Contact Us</a></li>
          <li><a [routerLink]="['#']">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 mb-4">
      <h5 class="fs-6 fw-bold primary">SUBSCRIBE TO OUR NEWSLETTER</h5>
      <p class="opacity-75">The latest news, articles, and resources, sent to your inbox weekly.</p>
      <div class=" d-flex ">
        <input type="email" class="form-control shadow-none" placeholder="Enter your email">
        <button class="btn btn-primary ms-3 btn-dark" type="button">Subscribe</button>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <p class="fw-bold primary">&copy; 2023 News Hub. All rights reserved</p>
      <div class="socials">
        <a [routerLink]="['/#']"> <img src="../../../assets/images/facebook.png" alt="" class="logo" width="27"
            height="27"></a>
        <a [routerLink]="['/#']"> <img src="../../../assets/images/twitter.png" alt="" class="logo mx-2" width="30"
            height="30"></a>
        <a [routerLink]="['/#']"> <img src="../../../assets/images/telegram.png" alt="" class="logo" width="27"
            height="27"></a>
      </div>
    </div>
  </div>
</footer>
