.hero {
  // background-image: url('../../../assets/images/pexels-andrea-piacquadio-3779698.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/images/pexels-cottonbro-studio-7579834.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
}

.mt-80{
  margin-top: 200px;
}

.mb-80{
  margin-bottom: 200px;
}

.fs-80{
  font-size: 80px;
}

.services{
  margin-top: -35px;
}
