<div class="hero">
  <div class="container">
    <div class="row">
      <div class="mt-80 mb-80">
        <h1 class="fs-80 fw-bolder text-light">We Care</h1>
        <h1 class="fs-80 text-light fw-bolder">About Your Health</h1>
        <h4 class="fs-5 text-white">Your Health is Our Top Priority with Comprehensive, <br> Affordable medical</h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row g-0 services text-center">
    <div class="col-lg-3">
      <div class="card rounded-0">
        <img src="" alt="">
        <div class="card-body">
          <h5 class="card-title">Qualitfied Doctors</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card rounded-0">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card rounded-0">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
