<div class="hero">
  <div class="container">
    <div class="row">
      <div class="mt-80 mb-80">
        <h1 class="fs-80 fw-bolder text-light">We Care</h1>
        <h1 class="fs-80 text-light fw-bolder">About Your Health</h1>
        <h4 class="fs-6 text-white">Your Health is Our Top Priority with Comprehensive, Affordable medical</h4>
        <button type="button" class="btn btn-primary btn-lg mt-2 rounded-5 fs-6">Make An Appointment</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row g-0 services text-center">
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="card card-bg border-0 rounded-0 p-3 ">
        <div class="card-image text-center">
          <img src="../../../assets/images/doctor.png" width="50" height="50" alt="">
        </div>
        <div class="card-body text-white">
          <h5 class="card-title">Qualitfied Doctors</h5>
          <p class="card-text">Even the all-powerful Pointing has no control about the blind texts it is an almost
            unorthographic.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="card bg-primary  border-0 rounded-0 p-3 ">
        <div class="card-image text-center">
          <img src="../../../assets/images/ambulance.png" width="50" height="50" alt="">
        </div>
        <div class="card-body text-white">
          <h5 class="card-title">Emergency Care</h5>
          <p class="card-text">Even the all-powerful Pointing has no control about the blind texts it is an almost
            unorthographic.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="card card-bg  border-0 rounded-0 p-3 ">
        <div class="card-image text-center">
          <img src="../../../assets/images/24-hours.png" width="50" height="50" alt="">
        </div>
        <div class="card-body text-white">
          <h5 class="card-title">24 Hours Service</h5>
          <p class="card-text">Even the all-powerful Pointing has no control about the blind texts it is an almost
            unorthographic.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="card bg-primary  border-0 rounded-0 p-3 ">
        <div class="card-image text-center">
          <img src="../../../assets/images/stethoscope.png" width="50" height="50" alt="">
        </div>
        <div class="card-body text-white">
          <h5 class="card-title">Outdoor Checkup</h5>
          <p class="card-text">Even the all-powerful Pointing has no control about the blind texts it is an almost
            unorthographic.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-lg-7 d-flex align-items-center ">
      <div class="about px-lg-5 ">
        <h2 class="fw-bolder primary ">We always put our patients first</h2>
        <p class="mt-3">
          iCare has undergone independent testing, auditing, certification, and accreditation. Its
          experts have an active medical license, and the HealthTap Medical Group doctors
          are board-certified as well.
          We believe in removing barriers to make healthcare convenient.
          We embrace technology that creates a direct connection between doctor and patient.
          We're constantly innovating
          to make your care better and more affordable.

        </p>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="card border-0 ">
        <img src="../../../assets/images/medical1.png" alt="image">
      </div>
    </div>
  </div>
</div>

<!-- how it works -->
<div class="container bg-light">
  <div class="row mb-5">
    <div class="col-lg-5 d-flex align-items-center">
      <img src="../../../assets/images/work-img.675546d68eb2667b81e4.png" class="img-fluid" alt="">
    </div>
    <div class="col-lg-7 d-flex align-items-center">
      <div class="text ms-lg-5">
        <h2 class="fw-bolder primary ">4 easy steps to get your solution</h2>
        <div class="row mt-4">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="d-flex">
              <div class="">
                <img src="../../../assets/images/search-doctor.png" class="photo" width="50" height="50" alt="image">
              </div>
              <div class="ms-3">
                <h5 class="primary">Search Doctor</h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 ">
            <div class="d-flex">
              <div class="">
                <img src="../../../assets/images/background-check.png" width="50" height="50" alt="image">
              </div>
              <div class="ms-3">
                <h5 class="primary">Check Doctor Profile</h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="d-flex">
              <div class="">
                <img src="../../../assets/images/schedule.png" width="50" height="50" alt="image">
              </div>
              <div class=" ms-3">
                <h5 class="primary">Schedule Appointment</h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 ">
            <div class="d-flex">
              <div class="">
                <img src="../../../assets/images/solution.png" width="50" height="50" alt="image">
              </div>
              <div class=" ms-3">
                <h5 class="primary">Get Your Solution</h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- accordion -->
<div class="container">
  <app-accordion></app-accordion>
</div>
