<div class="hero">
  <div class="container">
    <div class="row">
      <div class="mt-80 mb-80">
        <h1 class="fs-80 fw-bolder text-light">We Care</h1>
        <h1 class="fs-80 text-light fw-bolder">About Your Health</h1>
        <h4 class="fs-5 text-white">Your Health is Our Top Priority with Comprehensive, <br> Affordable medical</h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row g-0 services text-center">
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="card card-bg border-0 rounded-0 p-3 ">
        <div class="card-image text-center">
          <img src="../../../assets/images/doctor.png" width="50" height="50" alt="">
        </div>
        <div class="card-body text-white">
          <h5 class="card-title">Qualitfied Doctors</h5>
          <p class="card-text">Even the all-powerful Pointing has no control about the blind texts it is an almost
            unorthographic.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="card bg-primary  border-0 rounded-0 p-3 ">
        <div class="card-image text-center">
          <img src="../../../assets/images/ambulance.png" width="50" height="50" alt="">
        </div>
        <div class="card-body text-white">
          <h5 class="card-title">Emergency Care</h5>
          <p class="card-text">Even the all-powerful Pointing has no control about the blind texts it is an almost
            unorthographic.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="card card-bg  border-0 rounded-0 p-3 ">
        <div class="card-image text-center">
          <img src="../../../assets/images/24-hours.png" width="50" height="50" alt="">
        </div>
        <div class="card-body text-white">
          <h5 class="card-title">24 Hours Service</h5>
          <p class="card-text">Even the all-powerful Pointing has no control about the blind texts it is an almost
            unorthographic.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="card bg-primary  border-0 rounded-0 p-3 ">
        <div class="card-image text-center">
          <img src="../../../assets/images/stethoscope.png" width="50" height="50" alt="">
        </div>
        <div class="card-body text-white">
          <h5 class="card-title">Outdoor Checkup</h5>
          <p class="card-text">Even the all-powerful Pointing has no control about the blind texts it is an almost
            unorthographic.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section -->
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-lg-7 d-flex align-items-center">
      <div class="about px-lg-5">
        <h2 class="fw-bolder">We always put our patients first</h2>
        <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu fugiat nulla pariatur.
        </p>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="card border-0 ">
        <img src="../../../assets/images/medical1.png" alt="image">
      </div>
    </div>
  </div>
</div>

<!-- how it works -->
<div class="container">
  <div class="row mb-5">
    <div class="col-lg-5 d-flex align-items-center">
      <img src="../../../assets/images/work-img.675546d68eb2667b81e4.png" class="img-fluid" alt="">
    </div>
    <div class="col-lg-7 d-flex align-items-center">
      <div class="text ms-5">
        <h5 class="primaryColor">How it Works</h5>
        <h2 class="fw-bolder">4 easy steps to get your solution</h2>
        <div class="row mt-4">
          <div class="col">
            <div class="d-flex">
              <div class="">
                <img src="../../../assets/images/search-doctor.png" class="photo" width="60" height="60" alt="image">
              </div>
              <div class="ms-3">
                <h5>Search Doctor</h5>
                This is some content from a media component. You can replace this with any content and adjust it as
                needed.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-flex">
              <div class="">
                <img src="../../../assets/images/background-check.png" width="60" height="60" alt="image">
              </div>
              <div class="ms-3">
                <h5>Check Doctor Profile</h5>
                This is some content from a media component. You can replace this with any content and adjust it as
                needed.
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <div class="d-flex">
              <div class="">
                <img src="../../../assets/images/search-doctor.png" width="60" height="60" alt="image">
              </div>
              <div class=" ms-3">
                <h5>Schedule Appointment</h5>
                This is some content from a media component. You can replace this with any content and adjust it as
                needed.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-flex">
              <div class="">
                <img src="../../../assets/images/background-check.png" width="60" height="60" alt="image">
              </div>
              <div class=" ms-3">
                <h5>Get Your Solution</h5>
                This is some content from a media component. You can replace this with any content and adjust it as
                needed.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
