
@import 'bootstrap/scss/bootstrap';

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/images/pexels-cottonbro-studio-7579834.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mt-80{
  margin-top: 200px;
}

.mb-80{
  margin-bottom: 200px;
}

.fs-80{
  font-size: 80px;
}

.services{
  margin-top: -35px;
}

.min-h-100{
min-height: 200px;
}

.card-bg{
  background-color: #5DADE2;
}

.primaryColor{
  color: #5DADE2;
}

.fs-60{
  font-size: 60px;
}

.discovery-img{
     border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

// .photo{
//   background-color: #d3e7f4;
//   padding: 3px;
// }

.img-fluid{
  height: auto;
  max-width: 100%;
}

.primary{
  color: #145683;
}

.footerBackground{
    background-color:#ddf1ff;
}

ul,a {
  list-style-type: none;
  text-decoration: none;
}

a,li{
  color: #888888!important;
 &:hover{
  color:#4490c7!important;
 }
} 