
@import 'bootstrap/scss/bootstrap';

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/images/pexels-cottonbro-studio-4101143.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundImage {
  background-image: url('./assets/images/Shape3.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.mt-80{
  margin-top: 200px;
}

.mb-80{
  margin-bottom: 200px;
}

.fs-80{
  font-size: 80px;
}

.services{
  margin-top: -35px;
}

.min-h-100{
min-height: 200px;
}

.card-bg{
  background-color: #85c8f5;
}

.primaryColor{
  color: #badef7;
}

.fs-60{
  font-size: 60px;
}

.discovery-img{
     border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

// .photo{
//   background-color: #d3e7f4;
//   padding: 3px;
// }
.mt-20 {
  margin-top: 7% !important;
}

.img-fluid{
  height: auto;
  max-width: 100%;
}

.primary{
  color: #145683;
}

.footerBackground{
    background-color:#ddf1ff;
}

ul,a {
  list-style-type: none;
  text-decoration: none;
}

.mt-70{
  margin-top:70px;
}

.mb-70{
  margin-bottom: 70px;
}

.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./assets/images/pexels-cottonbro-studio-7579834.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}

.imageRadius{
  border-radius: 30px;
}

@media only screen and (max-width: 992px) {
  .mt-80 {
    margin-top: 50px;
  }
 .fs-80{
  font-size: 50px;
 }
 .mb-80{
  margin-bottom: 70px;
 }

}

label{
  font-size: 13px;
  margin-bottom: 8px;
}

.horizontalLine{
    border: 1px solid rgb(237, 237, 237);
}

.forgottenPassword,
.signUp{
  font-size: 13px;
  color: rgb(130, 129, 129);
}

.forgottenPassword:hover,
.signUp:hover{
color: black;
}

.togglePassword{
  margin-top: -45px;
  padding: 10px;
}

::placeholder {
  color: rgb(212, 212, 212);
  opacity: 1;
  font-size: 13px;
}

input[type=text],
input[type=password]{
  padding: 10px;
  outline: none;
  border-color:none;
}

.fa-sharp{
 font-size: 12px;
}

.member{
  color: #5DADE2!important;
  &:hover{
  color: #145683!important;
  }
}

.centered{
  min-height: 80vh;
}

.header-bg {
  background-color: #5dade2;
}

.nav-link,
li {
  color: #145683 !important;
  font-size: 17px;
  text-decoration: none !important;

  &:hover {
    color: #5dade2 !important;
  }
}

a {
  color: #145683 !important;
  font-size: 17px;
  text-decoration: none !important;
}

.navbar-nav .nav-link.active {
  color: #5dade2 !important;
}

.navbar-toggler:focus {
  box-shadow: unset !important;
}
