<!-- <app-header></app-header> -->
<div class="container-fluid vh-100" id="backgroundImage">
  <div class="container pt-3">
    <a class="navbar-brand fs-1 fw-bolder primary" [routerLink]="['/home']" routerLinkActive="active">iCare</a>
  </div>
  <div class="container">
    <div class="row centered d-flex justify-content-between align-items-center">
      <div class="col-lg-7 col-md-12 col-sm-12 ">
        <h2 class="fw-bold primary">Welcome Back</h2>
        <p>Lorem ipsum dolor sit amet, facer complectitur vel no, quod stet elit mei eu, cu mei magna petentium. Per ad
          ubique ponderum posid onium, usu no cetero aliquip.
          Lorem ipsum dolor sit amet, facer complectitur vel no, quod stet elit mei eu, cu mei magna petentium. Per ad
          ubique ponderum posid onium, usu no cetero aliquip.
        </p>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 p-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>